<div class='whiteout'>
	<header>
		<div class='container'>
			<h1>Contact the ODI</h1>
		</div>
	</header>

	<div class='container main-default' id='main'>
		<div class='container contact'>
			<div class='span8'>
				<h2>This website is a beta version so its content and features might change.</h2>
				<p>Please report any bugs or mistakes on:</p>
				<p>
					<a href="https://github.com/lasantiago/ODCU" class="btn btn-large btn-primary">GitHub</a>
				</p>
				<p>or email:</p>
				<p>
					<a class="btn btn-large btn-primary" href="mailto:certificate@theodi.org">certificate@theodi.org</a>
				</p>
				<p>with your questions and suggestions about how to improve open data certificates.</p>
			</div>
		</div>
	</div>
</div>