<div class='whiteout'>
	<header>
		<div class='container'>
			<h1>About</h1>
		</div>
	</header>

	<div class='container main-default' id='main'>
		<div class='container about'>
			<div class='span8'>
				<h1>Just one thing before we begin... <strong>thank you</strong>!</h1>
				<h2>When people have better access to open data, they can make insightful decisions and innovate to improve society, their environment, our economies, and change the world with their ideas. That’s what we aim for in <a href="http://www.theodi.org/about">our mission</a>. Your effort helps everyone.</h2>
				<h3>What does ‘better access’ mean?</h3>
				<p>It begins when publishers check their open data against the ODC questionnaire. It will help you understand how to:</p>
				<ul>
					<li>explain what your open data is about</li>
					<li>improve quality with other people’s help</li>
					<li>respect people’s privacy and rights</li>
					<li>build communities of interested people</li>
					<li>deliver open data that people can depend upon</li>
				</ul>
				<p>The ODC questionnaire gives publishers practical steps to open up data to people who can help put it to effective use in new applications, systems and technology. These become new solutions to the world’s problems.</p>
				<p>Each answer to a question affects which open data certificate is generated at the end. You don’t even have to answer every question: just skip the ones you’re not ready to answer, or think about how to make improvements so you can answer them.</p>
				<p>For example, answer only questions marked ‘Pilot’ and you gain yourself a Pilot open data certificate. Next you publish your open data certificate along with your open data and say “<em>look at how much effort we put into publishing this</em>” to people who better understand how to use it.</p>
				<p>
					<a href="/overview" class="btn btn-large">See what you will be asked</a>
					<a href="/certificates/31" class="btn btn-large">See an example certificate</a>
				</p>
				<h3>A seal of approval that helps deliver knowledge for everyone</h3>
				<p>An open data certificate gives data users a head start. It tells them what the data is about and how to get hold of it. It shares information like availability, privacy, and licensing so they can decide how much to rely on it.</p>
				<p>Whether you’re a data publisher or a data user, each open data certificate is a great achievement. There are four kinds:</p>
				<ul class='kitemarks'>
					<li class='kitemark1'><strong>Raw:</strong> A great start at the basics of publishing open data.</li>
					<li class='kitemark2'><strong>Pilot:</strong> Data users receive extra support from, and can provide feedback to the publisher.</li>
					<li class='kitemark3'><strong>Standard:</strong> Regularly published open data with robust support that people can rely on.</li>
					<li class='kitemark4'><strong>Expert:</strong> An exceptional example of information infrastructure.</li>
				</ul>
				<p>Open data certificates are milestones along the way to world-class open data. The different levels of certificate help tell people where you are on that journey, improving what you offer at your own pace.</p>
				<p>We’ve deliberately set the bar high so that, working together, we will help unlock best value for everyone. No one has achieved an ‘Expert’ open data certificate yet but we’re excited to see who’ll get there first!</p>
				<p>Will it be you?</p>
				<p><a href="/projects/new" class="btn btn-large btn-primary" data-toggle="modal" role="button">Create an Open Data Certificate</a>
				</p>
			</div>
		</div>
	</div>
</div>